*{
    padding-left: 5%;
    padding-right: 5%;
}
.button{
    display: block;
    padding-top: 10%;
}

.result{
    font-size: 50px;
    font-weight: bold;
}
button{
    width: 25%;
    height: 60px;
    font-size: 22px;
}