*{
    padding-left: 5%;
    padding-right: 5%;
}
.button{
    display: block;
    padding-top: 1%;
    position: relative;
}

.result{
    font-size: 50px;
    font-weight: bold;
}
button{
    width: 25%;
    height: 60px;
    font-size: 22px;
}
.history{
    font-size: 23px;

    display: block;
    padding-top: 10%;
    position: absolute;
    top: 10px;
    right: 50px;
}